{% extends "users/index.html" %}
{% load crispy_forms_tags %}
{% block head %}
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
{% endblock head %}
{% block content %}
{{ form.media }}
<h1>Create Task</h1>

<div class="card mt-3">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.errors }}

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        </form>
    </div>
</div>

{% endblock content %}
