{% extends "users/index.html" %}
{% load static %}

{% block content %}
    <div class="container px-2 d-flex justify-content-between align-items-center">
        <h4 class="display-4 mb-3 fw-semibold" style="color: #0a53be; padding-top: 1.5rem">Task Categories</h4>
        <a href="{% url 'todo:create-task-category' %}" class="btn btn-secondary mb-3">Create new category</a>
    </div>

    {% for task_category in object_list %}
    <div class="card mb-3" style="background-color: #D4D9DB;">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">{{ task_category.category_name }}</h5>

            <div class="d-flex justify-content-between">
                <a href="{% url 'todo:task-category-update' task_category.pk %}" class="btn btn-warning">Edit</a>
                <form action="{% url 'todo:task-category-delete' task_category.pk %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="lead">No categories available.</p>
    {% endfor %}

{% endblock content %}
