{% extends "users/index.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
</head>

{% block content %}
<div class="container">
    <div class="px-2 d-flex justify-content-between align-items-center">
        <h4 class="display-4 mb-3 fw-semibold" style="color: #0a53be; padding-top: 1.5rem">Movies</h4>
        <div class="d-inline-flex">
            <a href="{% url 'medialibrary:create-movie' %}" class="btn btn-secondary mb-3 me-2">Add new movie</a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg">
            <div class="card shadow-lg border-0 rounded-lg mt-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Movies library
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Director</th>
                                    <th>Premiere</th>
                                    <th>Summary</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for movie in movies %}
                                <tr>
                                    <td><a href="{% url 'medialibrary:movie-detail' movie.pk %}">{{ movie.title }}</a></td>
                                    <td>{{ movie.director }}</td>
                                    <td>{{ movie.release_date.year }}</td>
                                    <td>{{ movie.summary }}</td>
                                    <td>{{ movie.rating }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#datatablesSimple').DataTable({
        "paging": true,
        "ordering": true,
        "info": true
    });
});
</script>
{% endblock content %}
