{% extends "users/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
{{ form.media }}
<div class="card mt-3">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <div>
                <h1 class="mb-0" style="font-style: italic;">{{ movie.title }}</h1>
                <p class="mb-0"><small class="text-muted">{{ movie.director }}, {{ movie.release_date.year }}</small></p>
            </div>
            <div>
                <a href="{% url 'medialibrary:movie-update' movie.id %}" class="btn btn-secondary">Edit</a>
                <a href="{% url 'medialibrary:movie-delete' movie.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <p class="card-text">{{ movie.summary }}</p>
        <p class="card-text"><small class="text-bg-dark">Rating: {{ movie.rating }}</small></p>
    </div>
</div>
{% endblock content %}
